# Core
numpy>=1.26,<2
pandas>=2.2.3

# For truncated normal in generate_purchases()
scipy>=1.13

# Plotting (used in data exploration notebook)
matplotlib>=3.9
seaborn>=0.13

# Jupyter
ipykernel>=6.25
jupyterlab>=4.0

torch>=2.2
pyyaml>=6.0

