# Core
numpy>=1.24
pandas>=2.2

# For truncated normal in generate_purchases()
scipy>=1.10

# Plotting (used in data exploration notebook)
matplotlib>=3.8
seaborn>=0.13

# Jupyter
ipykernel>=6.25
jupyterlab>=4.0

torch>=2.2
pyyaml>=6.0

